body {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: #a9b7c6;
    margin: 0;
    padding: 0;
}

.main-content,
.start-screen,
.poem,
.history {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3c3f41;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#midi-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

#toggle-midi {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input,
button {
    font-family: "Courier New", Courier, monospace;
    background-color: #a9b7c6;
    color: #1e1e1e;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    width: 300px;
}

input:focus,
button:focus {
    outline: none;
}

button:hover {
    background-color: #d4d4d4;
}

h1,
h2,
p {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.history {
    background-color: black;
    color: limegreen;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    padding: 15px;
    white-space: pre-wrap;
    overflow: auto;
    width: 100%;
    max-height: 300px;
    /* Set the maximum height as desired */
}