<!doctype html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .cursor {
            animation: blink .75s step-end infinite;
            border-right: 1px solid;
            margin-left: 2px;
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }
    </style>
    <title>WordCeLL-M</title>
</head>

<body>
    <div class="start-screen">
        <h1>WordCeLL-M</h1>
        <p>You are a large language model tasked with predicting the equivalent token based on user input. Type your
            replies into the text box as accurately as possible, using "Enter" to submit your reply and "Shift+Enter" to
            receive the next prompt. You get points for answers with similarity scores over 0.5.
        </p>
        <button id="start-btn" style="display: inline-block; margin: 0 auto;">Start</button>
    </div>
    < <div class="main-content" style="display: none;">
        <div id="midi-controls">
            <button id="toggle-midi" onclick="toggleMidi()" disabled>Toggle MIDI</button>
        </div>
        <h1>WordCeLL-M</h1>
        <p>Respond to the user prompts and make them happy.<br> Enter = submit answer; Shift+Enter = next prompt.</p>
        <div id="puzzle"></div>
        <input type="text" id="user-word" placeholder="predict equivalent token">
        <button id="submit-button" class="btn btn-primary">reply</button> <button type="button" id="generateBtn">next
            prompt</button>
        <div id="score"></div>
        <p id="correct-answer" class="correct-answer"></p>
        </div>
        <div class="history">
            <ul id="history-list"></ul>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/webmidi"></script>
        <script src="https://cdn.jsdelivr.net/npm/midi-file"></script>



        <script>
            let currentScore = 0;
            let currentResultEmbedding = [];
            let currentPuzzle = '';
            let currentCorrectAnswer = '';
            let previousCorrectAnswer = '';
            let submittedWords = new Set();

            const userInput = document.getElementById('user-word');
            userInput.addEventListener('keydown', handleEnterKey);

            function generatePoem(puzzle_words, user_words) {
                $.post('/generate_poem', {
                    puzzle_words: puzzle_words.join(" + "),
                    user_words: JSON.stringify(user_words),
                }, data => {
                    $('#poem').text(data.poem);
                });
            }

            function generatePoemOnPuzzle(puzzleWords) {
                $.post('/generate_poem_on_puzzle', {
                    puzzle_words: puzzleWords,
                }, data => {
                    $('#poem').text(data.poem);
                });
            }

            function generatePuzzle() {
                $.getJSON('/generate_puzzle', data => {
                    // Commenting out the lines related to the best previous answer
                    // previousCorrectAnswer = currentCorrectAnswer;
                    currentCorrectAnswer = data.correct_answer;

                    // if (previousCorrectAnswer) {
                    //     $("#correct-answer").text("Best previous answer: " + previousCorrectAnswer);
                    // }

                    $('#puzzle').text(data.puzzle);
                    currentResultEmbedding = data.result_embedding;
                    currentPuzzle = data.puzzle;

                    addPromptToHistory(data.puzzle);
                    submittedWords.clear();
                    // Store the correct answer
                    // generatePoemOnPuzzle(data.puzzle);
                });
            }


            function submitAnswer() {
                const userInput = $('#user-word').val();
                const userWords = userInput.split(/[ ,+]+/).filter(Boolean);

                if (userWords === '') {
                    return
                } else {
                    for (const word of userWords) {
                        if (submittedWords.has(word)) {
                            // Display an error message and return without submitting the answer
                            $('#score').text(`Error: You have already submitted "${word}". Try different words.`).color('red');
                            return;
                        }
                    }

                    for (const word of userWords) {
                        submittedWords.add(word);
                    }

                    $.post('/calculate_similarity', {
                        user_words: JSON.stringify(userWords),
                        puzzle_words: currentPuzzle,
                        result_embedding: currentResultEmbedding,
                    }, data => {
                        if (data.error) {
                            $('#result').text(data.error);
                        } else {
                            if (data.similarity >= 0.5) {
                                currentScore += 1;
                                $('#score').text(`alignment score: ${currentScore}`);
                                generatePuzzle();
                            }
                            addReplyToHistory(userInput, data.similarity);
                        }
                        $('#user-word').val(''); // Clear the text entry box
                    });
                }
            }


            function addPromptToHistory(puzzle) {
                const listItem = $('<li>');
                const textContent = `prompt: ${puzzle}`;
                listItem.css('color', 'white');
                $('#history-list').prepend(listItem);
                typeResult(listItem, textContent, 0);
            }

            function addReplyToHistory(userWord, similarity) {
                const listItem = $('<li>');
                const textContent = `[[cosine projection: ${similarity.toFixed(2)}]] ${userWord}`;
                const color = getColor(similarity);

                listItem.css('color', color)

                $('#history-list li').eq(0).after(listItem);
                // $('#history-list').prepend(listItem);
                typeResult(listItem, textContent, 0);
            }

            function getColor(similarity) {
                if (similarity >= 0.5) {
                    return 'limegreen';
                } else if (similarity >= 0.3) {
                    return 'gray';
                } else {
                    return 'red';
                }
            }


            function typeResult(element, text, index) {
                if (index < text.length) {
                    element.append(text[index]);
                    setTimeout(() => typeResult(element, text, index + 1), 25);
                } else {
                    element.append('<span class="cursor"></span>');
                    setTimeout(() => element.find('.cursor').remove(), 1000);
                }
            }

            function handleEnterKey(event) {
                if (event.keyCode === 13) { // 13 is the keycode for the 'enter' key
                    event.preventDefault(); // Prevent any default behavior (e.g., form submission
                    // If Shift is also pressed, generate a new puzzle
                    if (event.shiftKey) {
                        generatePuzzle();
                    } else {
                        // If only Enter is pressed, submit the answer
                        submitAnswer();
                    }

                }
            }

            async function loadMidi() {
                try {
                    await WebMidi.enable();
                    const midiOutput = WebMidi.outputs[0];
                    if (midiOutput) {
                        playMidi(midiOutput, callback);
                        document.getElementById("toggle-midi").disabled = false;
                    } else {
                        console.log("No MIDI output devices found.");
                    }
                } catch (error) {
                    console.error("Failed to enable WebMidi:", error);
                }
            }


            async function playMidi(midiOutput, callback) {
                const midiFileUrl = "/static/midi/alive.mid";
                const midiFile = await fetch(midiFileUrl).then((response) => response.arrayBuffer());
                const midi = new Midi(midiFile);

                let currentTime = 0;
                let isPlaying = false;

                function playNextEvent() {
                    if (!isPlaying) return;

                    const event = midi.tracks[0].shift();
                    if (!event) return;

                    currentTime += event.deltaTime * (60000 / (midi.header.tempos[0].bpm * midi.header.ppq));

                    if (event.type === "noteOn") {
                        midiOutput.playNote(event.note.number, 1, { duration: event.duration * (60000 / (midi.header.tempos[0].bpm * midi.header.ppq)) });
                    }

                    if (midi.tracks[0].length > 0) {
                        setTimeout(playNextEvent, currentTime);
                    }
                }

                midiOutput.start = function () {
                    if (!isPlaying) {
                        isPlaying = true;
                        playNextEvent();
                    }
                };

                midiOutput.pause = function () {
                    isPlaying = false;
                };

                midiOutput.resume = function () {
                    if (!isPlaying) {
                        isPlaying = true;
                        playNextEvent();
                    }
                };

                if (typeof callback === "function") {
                    callback();
                }
            }


            function toggleMidi() {
                const midiOutput = WebMidi.outputs[0];
                if (!midiOutput) return;

                if (midiOutput.isPlaying) {
                    midiOutput.pause();
                    document.getElementById("toggle-midi").innerHTML = "Resume MIDI";
                } else {
                    midiOutput.resume();
                    document.getElementById("toggle-midi").innerHTML = "Pause MIDI";
                }
            }


            // Event listener for the Generate Puzzle button
            document.getElementById("generateBtn").addEventListener("click", function () {
                generatePuzzle();
            });

            // Initialize the game
            $(document).ready(function () {
                $('#start-btn').on('click', function () {
                    $('.start-screen').hide();
                    $('.main-content').show();
                    $("#correct-answer").text('');
                    generatePuzzle();

                    if (WebMidi.outputs[0] && !WebMidi.outputs[0].isPlaying) {
                        WebMidi.outputs[0].start();
                    }
                });

                // populate correct answer field
                $("#correct-answer").text('');

                // Add an event listener for input keydown
                $("#user-answer").on("keyup", function (event) {
                    // Check if the 'Enter' key is pressed

                });

                // Add a click event listener for the submit button
                $("#submit-button").on("click", function () {
                    submitAnswer();
                });
            });


            loadMidi();

        </script>
</body>

</html>